@model List<CoreMaster.Entities.Job>
@{
    ViewData["Title"] = "Job List";
}
<a href="/Job/Add" class="btn btn-primary">Add</a>
<br />
<table id="_DataTable" class="table compact table-striped table-bordered nowrap dataTable" aria-describedby="_DataTable_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Image: activate to sort column descending" style="width: 127px;">Image</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending" style="width: 209px;">Title</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending" style="width: 116px;">City</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-label="Vacancy: activate to sort column ascending" style="width: 127px;">Vacancy</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-label="Created Date: activate to sort column ascending" style="width: 190px;">Created Date</th>
            <th style="width: 38px;" class="sorting" role="columnheader" tabindex="0" aria-controls="_DataTable" rowspan="1" colspan="1" aria-label=" Action : activate to sort column ascending"> Action </th>
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        @foreach (var item in Model)
        {
            <tr class="even">
                <td style="text-align:left"><img src="@item.JobImage" alt="Image" width="50" height="50"></td>
                <td style="text-align:left">@item.JobTitle</td>
                <td style="text-align:left">@item.CityId</td>
                <td style="text-align:left">@(item.IsActive == true ? "Yes" : "No")</td>
                <td style="text-align:right">@item.CreatedDateTime</td>
                <td class="text-center ">
                    <a href="/Job/Edit?JobID=@item.JobID" title="Edit">Edit  <i class="fa fa-edit"></i></a><a href="/Job/Delete?&JobID=@item.JobID" class="" onclick="return confirm(" Are you sure you want to delete this job?");" title="Delete">Delete     <i class="fa fa-times"></i></a>
                </td>
            </tr>

        }

    </tbody>
</table>  